/* Mapbox */

.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup1 {
  height: auto;
  width: auto;
  min-width: 140px;
  padding: 5px 25px;
  background-color: #00e676;
  color: #fff;
}

.popup1 div {
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.popup1 p {
  font-size: small;
}

.popup1 span {
  font-weight: normal;
}

.popup1 h2 {
  margin: 10px 0px;
  padding: 0px;
  overflow: visible;
}

.popup1 p {
  font-weight: bold;
}

.popup2 {
  height: auto;
  width: auto;
  min-width: 140px;
  padding: 5px 25px;
  background-color: #ff9800;
  color: #fff;
}

.popup2 div {
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.popup2 p {
  font-size: small;
}

.popup2 span {
  font-weight: normal;
}

.popup2 h2 {
  margin: 10px 0px;
  padding: 0px;
  overflow: visible;
}

.popup2 p {
  font-weight: bold;
}

.popup3 {
  height: auto;
  width: auto;
  min-width: 140px;
  padding: 5px 25px;
  background-color: #e91e63;
  color: #fff;
}

.popup3 div {
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.popup3 h2 {
  margin: 10px 0px;
  padding: 0px;
  overflow: visible;
}

.popup3 p {
  font-weight: bold;
}

.popup3 span {
  font-weight: normal;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}

/* React-Leaflet */
.tooltip {
  margin: 0;
  padding: 0;
}

/* @charset "utf-8"; */
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {
  float: left;
}
.fl-rt {
  float: right;
}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

/* Primary Styles
---------------------------------*/
body {
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #000;
  margin: 0;
}

/* Wrapper
---------------------------------*/

.dashboard {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
}

.left-pannel {
  width: 20%;
}
.right-pannel {
  width: 20%;
}

.dashboard-viewport {
  width: 60%;
  padding: 10px 0;
}
.dashboard-viewport img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.panel-box {
  border: 1px solid #363636;
  margin: 10px;
  padding: 10px 0;
  background-color: #222;
  color: #fff;
  font-size: 14px;
}
.total-confirmed {
  text-align: center;
}

.pannel-header span {
  font-size: 14px;
}
.total-confirmed .total-numbers {
  color: #e60000;
  font-size: 35px;
  line-height: normal;
  margin: 0;
  font-weight: 700;
}
.total-confirmed span {
  color: #fff;
}

.pannel-header {
  text-align: center;
  padding: 0 20px;
  line-height: 22px;
  margin-bottom: 10px;
}
.list-item-content {
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 100px);
}
.list-item-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-item-content ul li {
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #5c5c5c;
}
.list-item-content ul li a {
  display: block;
  color: #bdbdbd;
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
.list-item-content ul li.active a {
  background-color: #1061a6;
}
.list-item-content ul li a span {
  font-weight: 700;
  color: #e60000;
}

.right-pannel-top {
  display: block;
  flex-wrap: wrap;
}
.total-deaths {
  width: 100%;
}
.total-test {
  width: 100%;
}
.right-pannel-top .pannel-header {
  font-size: 10px;
  color: #fff;
  margin-bottom: 20px;
}
.right-pannel-top .pannel-header span {
  display: block;
  margin-bottom: 8px;
}
.total-deaths .total-numbers {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
}
.total-test .total-numbers {
  color: rgb(115, 178, 255);
  font-size: 35px;
  font-weight: 700;
}

.total-deaths-list {
  border-top: 1px solid #5c5c5c;
  overflow-y: scroll;
  position: relative;
  height: calc(50vh - 100px);
}
.total-deaths-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.total-deaths-list ul li {
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #5c5c5c;

  color: #bdbdbd;
  padding: 5px 10px;
  transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
.total-deaths-list ul li.active {
  background-color: #1061a6;
}

.total-deaths-list ul li p {
  margin: 3px 0;
}
.total-deaths-list ul li span {
  color: #fff;
  font-weight: 700;
}
.total-deaths-list ul li strong {
  color: #fff;
  font-weight: 700;
}

.total-test-list {
  border-top: 1px solid #5c5c5c;
  overflow-y: scroll;
  position: relative;
  height: calc(50vh - 110px);
}
.total-test-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.total-test-list ul li {
  display: block;
  font-size: 14px;
  border-bottom: 1px solid #5c5c5c;

  color: #bdbdbd;
  padding: 5px 10px;
  transition: ease-in-out all 0.3s;
  -webkit-transition: ease-in-out all 0.3s;
}
.total-test-list ul li.active {
  background-color: #1061a6;
}

.total-test-list ul li p {
  margin: 3px 0;
}
.total-test-list ul li span {
  font-weight: 700;
  color: #73b2ff;
  font-size: 16px;
}
.total-test-list ul li strong {
  color: #fff;
  font-weight: 400;
}

.right-pannel-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-object-fit: cover;
}

/* Piehart */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  background: #000;
  background: radial-gradient(#222, #000);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}
.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}
.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}
.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}
.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}
.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}
.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
