.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.popup1 {
  text-align: center;
  margin: 0;
  height: 220px;
  width: 200px;
  padding: 10px;
  background-color: #00e676;
  color: #fff;
}

.popup1 div {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.popup2 {
  text-align: center;
  margin: 0;
  height: 220px;
  width: 200px;
  padding: 10px;
  background-color: #ff9800;
  color: #fff;
}

.popup2 div {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.popup3 {
  text-align: center;
  margin: 0;
  height: 220px;
  width: 200px;
  padding: 10px;
  background-color: #e91e63;
  color: #fff;
}

.popup3 div {
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
